.contact-form-wrapper {
    max-width: 768px;
    padding: 2rem;

    .input-field input {
        color: white;
    }

    .col.s12, .col.s6 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    input:-internal-autofill-selected {
        background-color: transparent;
    }

    .valid + label {
        color: #4CAF50;
    }

    .invalid + label {
        color: #F44336;
    }

    .contact-switch-label {
        font-size: .8rem;

        .contact-name {
            text-transform: capitalize;
        }
    }
    
    .switch label input[type=checkbox]:checked + .lever {
        background-color: rgba(0, 0, 0, 0.38);
    }

    .switch label input[type=checkbox] + .lever:after {
        background-color: #ffab40;
    }
}