<div data-bind="if: $data.renderHTML" class="contact-form-wrapper">
    
    <div class="row">
        <div class="col s12">
            <h5 class="grey-text" data-bind="text: $data.formHeader">New Contact</h5>
            <small class="grey-text"><span class="orange-text">*</span> indicates required field!</small>
        </div>
        <div class="col s12 m6">
            <div class="input-field">
                <input required pattern="[a-zA-Z]{3,}" data-bind="textInput: $data.contact().firstName" id="first_name" type="text" class="validate">
                <label for="first_name">First Name<sup class="orange-text">*</sup></label>
                <span class="helper-text grey-text">First Name should only contain alphabets and minimum three characters long</span>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="input-field">
                <input required pattern="[a-zA-Z]{3,}" data-bind="value: $data.contact().lastName" id="last_name" type="text" class="validate">
                <label for="last_name">Last Name<sup class="orange-text">*</sup></label>
                <span class="helper-text grey-text">Last Name should only contain alphabets and minimum three characters long</span>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="input-field">
                <input required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" data-bind="value: $data.contact().email" id="email_address" type="text" class="validate">
                <label for="email_address">Email Address<sup class="orange-text">*</sup></label>
                <span class="helper-text grey-text">Email should be of form name@domain</span>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="input-field">
                <input required pattern="^[\+][1][\s]\([0-9]{3}\)[\s][0-9]{3}[-][0-9]{4}$" data-bind="value: $data.contact().phone" id="phone_number" type="text" class="validate">
                <label for="phone_number">Phone Number<sup class="orange-text">*</sup></label>
                <span class="helper-text grey-text">Phone Number must be of the format +1 (xxx) xxx-xxxx</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m4">
            <div class="switch">
                <label class="grey-text contact-switch-label">
                    Is 
                    <span data-bind="visible: !$data.contact().firstName()">Contact</span> 
                    <span class="contact-name" data-bind="visible: typeof $data.contact().firstName() === 'string' && $data.contact().firstName().trim()!=='', text: $data.contact().firstName"></span>
                    Favorite ?
                </label>
                <br/>
                <label>
                No
                <input data-bind="checked: $data.contact().isFavorite" type="checkbox">
                <span class="lever"></span>
                Yes
                </label>
            </div>
        </div>
        <div class="col s6 m4">
            <div class="switch">
                <label class="grey-text contact-switch-label">
                    Is 
                    <span data-bind="visible: !$data.contact().firstName()">Contact</span> 
                    <span class="contact-name" data-bind="visible: typeof $data.contact().firstName() === 'string' && $data.contact().firstName().trim()!=='', text: $data.contact().firstName"></span>
                    Active ?
                </label>
                <br/>
                <label>
                No
                <input data-bind="checked: $data.contact().isActive" type="checkbox">
                <span class="lever"></span>
                Yes
                </label>
            </div>
        </div>
        <div data-bind="visible: $data.isNew" class="col s6 m4">
            <div class="switch">
                <label class="grey-text contact-switch-label">
                    Is 
                    <span data-bind="visible: !$data.contact().firstName()">Contact</span> 
                    <span class="contact-name" data-bind="visible: typeof $data.contact().firstName() === 'string' && $data.contact().firstName().trim()!=='', text: $data.contact().firstName"></span>
                    
                </label>
                <br/>
                <label>
                She ?
                <input data-bind="checked: $data.contact().isMale" type="checkbox">
                <span class="lever"></span>
                He ?
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 right-align">
            <button data-bind="click: $data.submitContact, text: $data.submitButtonText" class="btn orange waves-effect waves-light">
            </button>&nbsp;&nbsp;
            <button data-bind="click: $data.cancel, text: $data.cancelButtonText" class="btn blue waves-effect waves-light">Cancel
            </button>
        </div>
    </div>
</div>