.list-page {

    position: relative;

    .contact-list-heading {
        color: #90a4ae;
    }

    @media only screen and (min-width: 1401px) {
        .row .col.xxl2 {
            width: 16.6666666667%;
            margin-left: auto;
            left: auto;
            right: auto;
        }
    }

    .action-btn-container {
        position: fixed;
        right: 30px;
        bottom: 15px;
        display: flex;
        flex-flow: column-reverse;
        transition: all .5s;

        a.btn-floating {
            transition: all .5s;
            margin-bottom: 15px;
        }
    }

    @media only screen and (max-width: 768px) {
        .action-btn-container {
            left: 48%;
            flex-direction: row;

            a.btn-floating:last-child {
                margin-bottom: 0;
                margin-left: 15px;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .action-btn-container {
            left: 45%;
        }
    }
}